<div class="container my-3">
    <div class="row my-2">
        <div class="col-md-4 my-2">
            <div class="card" style="width:18rem">
                <div class="card-body">
                    <div class="card-title text-center bg-secondary display-4"><b>MAP</b> </div>
                    <hr>
                    <div class="card-text">
                        <p>A map is a symbolic depiction emphasizing relationships between elements of some space, such as objects, regions, or themes.Navigate through the map here</p>
                    </div>
                    <div class="card-footer d-grid">
                        <button class="btn btn-dark btn-block" (click)="gotoMap()">Goto Map</button>
                    </div>
                </div>
            </div>
        </div>
        <!--user-->
        <div class="col-md-4 my-2">
            <div class="card" style="width:18rem">
                <div class="card-body">
                    <div class="card-title text-center bg-secondary display-4"><b>USERS</b> </div>
                    <hr>
                    <div class="card-text">
                        <p>Here is the git users with productive and acknowledged profile having more useful repository.We can utilise it to grew our knowledge.Click here to get more wisdom</p>
                    </div>
                    <div class="card-footer d-grid">
                        <button class="btn btn-dark btn-block"(click)="gotoUsers()">Goto Users</button>
                    </div>
                </div>
            </div>
        </div>
        <!--null-->
        <div class="col-md-4 my-2">
            <div class="card" style="width:18rem">
                <div class="card-body">
                    <div class="card-title text-center bg-secondary display-4"><b>OTHER</b> </div>
                    <hr>
                    <div class="card-text">
                        <p>Just a dummmy text.It used to delebrate how i managed to do this task,thank you for this oppurtunity,from this i have learned some details about  open layers map integration</p>
                    </div>
                    <div class="card-footer d-grid">
                        <button class="btn btn-dark btn-block"(click)="goto()">Goto Others</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
